.work__container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.work{
    background-color: #895055;
    border: 1px solid transparent;
    transition: all 400ms ease;
    border-radius: 2rem;
    padding: 10px;
}

.work:hover{
background: transparent;
    border-color: #895055;
    cursor: default;
}

.work__title {
    display: flex;
    justify-content: space-between;
}

h5 {
    color: rgba(255, 255, 255, 0.6)
}